ЦЕЛЬ: реализовать базовый анализ датасета:
            Датасеты не должны повторяться
            Вывести весь датасет и опишите его
            Вывести размерность массива
            Вывести наименование всех колонок, написать что они означают в вашем датасете
            Вывести все уникальные значения
            Отсортировать по определенным параметрам
            Удалить ненужные столбцы или строчки 
            Заменить определенные значения в датасете (например, пустые)
            Удалить дубликаты
            Провести анализ с помощью функций info
            Провести анализ с помощью функций describe
            Провести выборку данных по строкам и столбцам с помощью loc
            Сохранить новый датасет
            Сделать вывод по каждому пункту и описать все

In [1]:
import pandas as pd

valorant = pd.read_csv('valorant-stats.csv')

Прочитали датасет из файла

In [6]:
valorant.head()

,Name,Weapon Type,Price,Fire Rate,Wall Penetration,Magazine Capacity,HDMG_0,BDMG_0,LDMG_0,HDMG_1,BDMG_1,LDMG_1,HDMG_2,BDMG_2,LDMG_2
0,Classic,Sidearm,0,6.75,Low,12,78,26,22,78,26,22,66,22,18
1,Shorty,Sidearm,200,3.30,Low,2,36,12,10,24,8,6,9,3,2
2,Frenzy,Sidearm,400,10.00,Low,13,78,26,22,63,21,17,63,21,17
3,Ghost,Sidearm,500,6.75,Medium,15,105,33,26,88,25,21,88,25,21
4,Sheriff,Sidearm,800,4.00,High,6,160,55,47,160,55,47,145,50,43

Вывели пару строк из датасета

Описание: это датасет по валоранту, он содержит в себе описание оружия из игры (я хотел найти героев, но не нашёл, мб плохо искал)
если описывать конкретнее, то в датасете есть:
1. Название оружия
2. его тип
3. цена
4. скорость стрельбы
5. простреливаемость стен
6. объём магазина
7. и куча разного урана, в голову, в тело и в ноги (остальные колонки я если четно сам не оч понял, ну собственно я их потом и удалю)

In [7]:
print(valorant.shape)

(17, 15)

вывели размерность массива

In [8]:
columns = valorant.columns

for i in columns:
    print(i)

Name
Weapon Type
Price
Fire Rate
Wall Penetration
Magazine Capacity
HDMG_0
BDMG_0
LDMG_0
HDMG_1
BDMG_1
LDMG_1
HDMG_2
BDMG_2
LDMG_2

Weapon: Наименование оружия (например, "Classic", "Shorty", "Frenzy" и так далее).
Type: Тип оружия (например, "Sidearm", "SMG", "Rifle", "Sniper", "Shotgun", "Heavy").
Cost: Стоимость оружия в игровой валюте.
Fire Rate: Скорострельность оружия.
Armor Penetration: Пробиваемость брони (Low - Низкая, Medium - Средняя, High - Высокая).
Magazine: Размер магазина (количество патронов).
Wall Penetration: Пробиваемость стен (количество уровней).
Headshot Damage: Урон от попадания в голову.
Body Damage: Урон по телу.
Leg Damage: Урон по ногам.
Alt. Fire - Head: Урон от дополнительного огня в голову (если есть).
Alt. Fire - Body: Урон от дополнительного огня по телу (если есть).
Alt. Fire - Leg: Урон от дополнительного огня по ногам (если есть).

In [9]:
for item in valorant.columns:
    print(valorant[item].unique())

['Classic' 'Shorty' 'Frenzy' 'Ghost' 'Sheriff' 'Stinger' 'Spectre'
 'Bulldog' 'Guardian' 'Phantom' 'Vandal' 'Marshall' 'Operator' 'Bucky'
 'Judge' 'Ares' 'Odin']
['Sidearm' 'SMG' 'Rifle' 'Sniper' 'Shotgun' 'Heavy']
[   0  200  400  500  800 1000 1600 2100 2500 2900 1100 4500  900 1500
 3200]
[ 6.75  3.3  10.    4.   18.   13.33  9.15  6.5  11.    9.25  1.5   0.75
  1.1   3.5  12.  ]
['Low' 'Medium' 'High']
[ 12   2  13  15   6  20  30  24  25   5   7  50 100]
[ 78  36 105 160  67 116 195 156 202 255  55  34  72  95]
[ 26  12  33  55  27  35  65  39 101 150  22  17  30  38]
[ 22  10  26  47  23  30  49  33  85 127  19  14  25  32]
[ 78  24  63  88 160  62  66 116 195 140 156 202 255  34  26  72  95]
[ 26   8  21  25  55  22  35  65  39 101 150  17  13  30  38]
[ 22   6  17  21  47  18  30  49  33  85 127  14  11  25  32]
[ 66   9  63  88 145  62 116 195 124 156 202 255  18  20  67  77]
[ 22   3  21  25  50  35  65  31  39 101 150   9  10  28]
[ 18   2  17  21  43  30  49  26  33  85 127   8   9  23]

Вывести все уникальные значения

In [20]:
valorant = valorant.sort_values("Price")

valorant

,Name,Weapon Type,Price,Fire Rate,Wall Penetration,Magazine Capacity,HDMG_0,BDMG_0,LDMG_0
0,Classic,Sidearm,0,6.75,1,12,78,26,22
1,Shorty,Sidearm,200,3.30,1,2,36,12,10
2,Frenzy,Sidearm,400,10.00,1,13,78,26,22
3,Ghost,Sidearm,500,6.75,2,15,105,33,26
4,Sheriff,Sidearm,800,4.00,3,6,160,55,47
13,Bucky,Shotgun,900,1.10,1,5,55,22,19
5,Stinger,SMG,1000,18.00,1,20,67,27,23
11,Marshall,Sniper,1100,1.50,2,5,202,101,85
14,Judge,Shotgun,1500,3.50,2,7,34,17,14
6,Spectre,SMG,1600,13.33,2,30,78,26,22
15,Ares,Heavy,1600,10.00,3,50,72,30,25
7,Bulldog,Rifle,2100,9.15,2,24,116,35,30
8,Guardian,Rifle,2500,6.50,2,12,195,65,49
10,Vandal,Rifle,2900,9.25,2,25,156,39,33
9,Phantom,Rifle,2900,11.00,2,30,156,39,33
16,Odin,Heavy,3200,12.00,3,100,95,38,32
12,Operator,Sniper,4500,0.75,3,5,255,150,127

Отсортировал по определенным параметрам

In [10]:
valorant = valorant.drop(columns=["BDMG_1", "LDMG_1", "HDMG_2", "BDMG_2", "LDMG_2", "HDMG_1"])

valorant

      Name Weapon Type  Price  Fire Rate Wall Penetration  Magazine Capacity  \
0  Classic     Sidearm      0       6.75              Low                 12
1   Shorty     Sidearm    200       3.30              Low                  2
2   Frenzy     Sidearm    400      10.00              Low                 13
3    Ghost     Sidearm    500       6.75           Medium                 15
4  Sheriff     Sidearm    800       4.00             High                  6

   HDMG_0  BDMG_0  LDMG_0  HDMG_1  BDMG_1  LDMG_1  HDMG_2  BDMG_2  LDMG_2
0      78      26      22      78      26      22      66      22      18
1      36      12      10      24       8       6       9       3       2
2      78      26      22      63      21      17      63      21      17
3     105      33      26      88      25      21      88      25      21
4     160      55      47     160      55      47     145      50      43

Удалить ненужные столбцы или строчки

In [11]:
valorant["Wall Penetration"] = valorant["Wall Penetration"].replace("Low", 1)
valorant["Wall Penetration"] = valorant["Wall Penetration"].replace("Medium", 2)
valorant["Wall Penetration"] = valorant["Wall Penetration"].replace("High", 3)

valorant

,Name,Weapon Type,Price,Fire Rate,Wall Penetration,Magazine Capacity,HDMG_0,BDMG_0,LDMG_0
0,Classic,Sidearm,0,6.75,1,12,78,26,22
1,Shorty,Sidearm,200,3.30,1,2,36,12,10
2,Frenzy,Sidearm,400,10.00,1,13,78,26,22
3,Ghost,Sidearm,500,6.75,2,15,105,33,26
4,Sheriff,Sidearm,800,4.00,3,6,160,55,47
5,Stinger,SMG,1000,18.00,1,20,67,27,23
6,Spectre,SMG,1600,13.33,2,30,78,26,22
7,Bulldog,Rifle,2100,9.15,2,24,116,35,30
8,Guardian,Rifle,2500,6.50,2,12,195,65,49
9,Phantom,Rifle,2900,11.00,2,30,156,39,33
10,Vandal,Rifle,2900,9.25,2,25,156,39,33
11,Marshall,Sniper,1100,1.50,2,5,202,101,85
12,Operator,Sniper,4500,0.75,3,5,255,150,127
13,Bucky,Shotgun,900,1.10,1,5,55,22,19
14,Judge,Shotgun,1500,3.50,2,7,34,17,14
15,Ares,Heavy,1600,10.00,3,50,72,30,25
16,Odin,Heavy,3200,12.00,3,100,95,38,32

Заменить определенные значения в датасете

In [7]:
sorted_csv = valorant.drop_duplicates()

valorant

,Name,Weapon Type,Price,Fire Rate,Wall Penetration,Magazine Capacity,HDMG_0,BDMG_0,LDMG_0,HDMG_1,BDMG_1,LDMG_1,HDMG_2,BDMG_2,LDMG_2
0,Classic,Sidearm,0,6.75,1,12,78,26,22,78,26,22,66,22,18
1,Shorty,Sidearm,200,3.30,1,2,36,12,10,24,8,6,9,3,2
2,Frenzy,Sidearm,400,10.00,1,13,78,26,22,63,21,17,63,21,17
3,Ghost,Sidearm,500,6.75,2,15,105,33,26,88,25,21,88,25,21
4,Sheriff,Sidearm,800,4.00,3,6,160,55,47,160,55,47,145,50,43
5,Stinger,SMG,1000,18.00,1,20,67,27,23,62,25,21,62,25,21
6,Spectre,SMG,1600,13.33,2,30,78,26,22,66,22,18,66,22,18
7,Bulldog,Rifle,2100,9.15,2,24,116,35,30,116,35,30,116,35,30
8,Guardian,Rifle,2500,6.50,2,12,195,65,49,195,65,49,195,65,49
9,Phantom,Rifle,2900,11.00,2,30,156,39,33,140,35,30,124,31,26
10,Vandal,Rifle,2900,9.25,2,25,156,39,33,156,39,33,156,39,33
11,Marshall,Sniper,1100,1.50,2,5,202,101,85,202,101,85,202,101,85
12,Operator,Sniper,4500,0.75,3,5,255,150,127,255,150,127,255,150,127
13,Bucky,Shotgun,900,1.10,1,5,55,22,19,34,17,14,18,9,8
14,Judge,Shotgun,1500,3.50,2,7,34,17,14,26,13,11,20,10,9
15,Ares,Heavy,1600,10.00,3,50,72,30,25,72,30,25,67,28,23
16,Odin,Heavy,3200,12.00,3,100,95,38,32,95,38,32,77,31,26

удалили дубликаты, я не стал удалять дубликаты в самом valorant, потому что в шестой практической оказывается обходимо будет кучу графиков сделать, воооооот, такие дела

In [12]:
valorant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               17 non-null     object
 1   Weapon Type        17 non-null     object
 2   Price              17 non-null     int64
 3   Fire Rate          17 non-null     float64
 4   Wall Penetration   17 non-null     int64
 5   Magazine Capacity  17 non-null     int64
 6   HDMG_0             17 non-null     int64
 7   BDMG_0             17 non-null     int64
 8   LDMG_0             17 non-null     int64
dtypes: float64(1), int64(6), object(2)
memory usage: 1.3+ KB

Провести анализ с помощью функций info. Info используется для вывода общей информации о датасете, включая количество непустых значений в каждом столбце, типы данных и использование памяти.

In [2]:
valorant.describe()

,Price,Fire Rate,Magazine Capacity,HDMG_0,BDMG_0,LDMG_0,HDMG_1,BDMG_1,LDMG_1,HDMG_2,BDMG_2,LDMG_2
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,1629.411765,7.463529,21.235294,114.000000,43.588235,36.411765,107.764706,41.470588,34.588235,101.705882,39.235294,32.705882
std,1232.763514,4.779767,23.823647,63.295932,34.483798,29.010901,67.098369,35.709098,30.099956,69.682104,36.705806,30.880343
min,0.000000,0.750000,2.000000,34.000000,12.000000,10.000000,24.000000,8.000000,6.000000,9.000000,3.000000,2.000000
25%,800.000000,3.500000,6.000000,72.000000,26.000000,22.000000,63.000000,22.000000,18.000000,63.000000,22.000000,18.000000
50%,1500.000000,6.750000,13.000000,95.000000,33.000000,26.000000,88.000000,30.000000,25.000000,77.000000,28.000000,23.000000
75%,2500.000000,10.000000,25.000000,156.000000,39.000000,33.000000,156.000000,39.000000,33.000000,145.000000,39.000000,33.000000
max,4500.000000,18.000000,100.000000,255.000000,150.000000,127.000000,255.000000,150.000000,127.000000,255.000000,150.000000,127.000000

анализ с помощью функции describe. С помощью describe мы получили общие статистические данные, например можно посмотреть максимальную цену на оружие и так далее, ну то есть просто какие-то статистические данные, с которыми потом можно работать

In [14]:
valorant.loc[valorant["Price"] >= 500]

,Name,Weapon Type,Price,Fire Rate,Wall Penetration,Magazine Capacity,HDMG_0,BDMG_0,LDMG_0
3,Ghost,Sidearm,500,6.75,2,15,105,33,26
4,Sheriff,Sidearm,800,4.00,3,6,160,55,47
5,Stinger,SMG,1000,18.00,1,20,67,27,23
6,Spectre,SMG,1600,13.33,2,30,78,26,22
7,Bulldog,Rifle,2100,9.15,2,24,116,35,30
8,Guardian,Rifle,2500,6.50,2,12,195,65,49
9,Phantom,Rifle,2900,11.00,2,30,156,39,33
10,Vandal,Rifle,2900,9.25,2,25,156,39,33
11,Marshall,Sniper,1100,1.50,2,5,202,101,85
12,Operator,Sniper,4500,0.75,3,5,255,150,127
13,Bucky,Shotgun,900,1.10,1,5,55,22,19
14,Judge,Shotgun,1500,3.50,2,7,34,17,14
15,Ares,Heavy,1600,10.00,3,50,72,30,25
16,Odin,Heavy,3200,12.00,3,100,95,38,32

Провести выборку данных по строкам и столбцам с помощью loc. Я выбрал сотртировку чтоб цена была больше или равна 500

In [21]:
valorant.to_csv("valorant-stats_PALOMALO_SILNO.csv")

сохранили в папку с проектом

Вывод: был реализован базовый анализ датасета:
            Датасеты не должны повторяться
            Вывести весь датасет и опишите его
            Вывести размерноть массива
            Вывести наименование всех колонок, написать что они означают в вашем датасете
            Вывести все уникальные значения
            Отсортировать по определенным параметрам
            Удалить ненужные столбцы или строчки 
            Заменить определенные значения в датасете (например, пустые)
            Удалить дубликаты
            Провести анализ с помощью функций info
            Провести анализ с помощью функций describe
            Провести выборку данных по строкам и столбцам с помощью loc
            Сохранить новый датасет
            Сделать вывод по каждому пункту и описать все